body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: red;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: #ff0404;
    color: white;
}

h2 {
    color: red;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    width: 500px;
    margin: 0 auto;
}

.svg-container {
    display: flex;
}

.svg {
    width: 200px;
}

.svg:hover {
    transform: scale(1.1); /*leichtes Vergrößern der SVGs, wenn man mit dem Cursor drüber hovert*/
}

.svg.Unterschrift { /*wird das übernommen? nochmal Selektoren anschauen*/
    font-family: Arial, Helvetica, sans-serif;
}

.header-links {
    color: #ff0404;
    display: flex;
    justify-content: left;
}

.header-links a {
    margin: 0 10px;
}